@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/* -------------------------------------------
				Flexbox Basics

CSS code pulled from one of my old repos that already parsed SCSS -> CSS
------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

._space-between {
  justify-content: space-between;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._space-around {
  justify-content: space-around;
  align-content: space-around;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._direction-column {
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._direction-row {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._justify-center {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

._justify-right {
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/* ----------------------------------------------
				  Main Container
---------------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#2193b0, #6dd5ed);
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 3em;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}

/* ----------------------------------------------
				  Buttons
---------------------------------------------- */

.btn {
  background-color: #55efc4;
  padding: 7px 10px;
  font-size: 1em;
  font-weight: 700;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
