.form-signin {
    width: 500px;
    padding: 30px 40px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.form-signin {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 1em;
    height: 1.8em;
    width: 300px;
    margin-bottom: 15px;
}
