<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div>
    <main class="container _justify-center">
        <form class="form-signin-error _direction-column _justify-center">
            <h1 class="form-signin-error-heading _justify-center">Registered</h1>
            <span class="err-msg" th:text="${message}"></span>
            <a class="btn" type="submit" th:href="@{/hub}">Back to Hub</a>
        </form>
    </main>
</div>
</body>
</html>
