<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thermostat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="/css/device.css" th:href="@{/css/device.css}">
</head>
<body>
    <main class="container">
        <h2>Devices > Thermostat</h2>
        <section class="device-container">
            <div class="_direction-row">
                <a class="btn" type="submit" th:href="@{'/unregister?id=' + ${name}}">Unregister This Device</a>
            </div>

            <section class = "device-information">
                <p>ID: <em><span th:text="${name}"></span></em></p>
                <p>STATUS: <em><span th:text="${status}"></span></em></p>
            </section>

            <div class="_direction-row">
                <a class="btn" type="submit" th:href="@{/hub}">Back to Hub</a>
            </div>
        </section>
    </main>
</body>
</html>