<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thermostat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="/css/device.css" th:href="@{/css/device.css}">
</head>
<body>
    <main class="container">
    	<p>Recent Notification: <em><span th:text="${notification}"></span></em></p>
        <h2>Devices > Thermostat</h2>
        <section class="view-container-lg">
            <div class="_direction-row">
                <a class="btn btn-link" type="submit" th:href="@{'/unregister?id=' + ${name}}">Unregister This Device</a>
            </div>

            <section class = "device-information">
                <p>ID: <em><span th:text="${name}"></span></em></p>
                <p>STATUS: <em><span th:text="${status}"></span></em></p>
                <div th:switch="${isOn}">
                    <p th:case="true">TEMP: <em><span th:text="${temp}"></span></em></p>
                    <p th:case="false"></p>
                </div>
            </section>

            <div class="_direction-row">
                <a class="btn btn-link" type="submit" th:href="@{'/hub/thermostat/toggleOff?id=' + ${name}}">Stop Thermostat</a>
                <a class="btn btn-link" type="submit" th:href="@{'/hub/thermostat/toggleOn?id=' + ${name}}">Start Thermostat</a>
                <a class="btn btn-link" type="submit" th:href="@{'/hub/thermostat/changeUnit?id=' + ${name}}">Change Unit</a>
            </div>
            <div class="back-to-hub-btn">
                <a class="btn btn-link" type="submit" th:href="@{/hub}">Back to Hub</a>
            </div>
        </section>
    </main>
</body>
</html>