<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thermostat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="/css/device.css" th:href="@{/css/device.css}">
</head>
<body>
    <main class="container">
        <h2>Devices > Thermostat</h2>
        <section class="device-container">
            <p>Thermostat id: <em><span th:text="${name}"></span></em></p>
            <p>Thermostat status: <em><span th:text="${status}"></span></em></p>
        </section>
    </main>
</body>
</html>